
<div class="app-connection text-center row" ng-controller="appLoginController as self">

    <div class="container-fluid centered">
        <div class="row" ng-if="self.errorMsg">
            <div class="alert alert-danger col-sm-4 col-sm-push-4">
                {{self.errorMsg}}
            </div>
        </div>
        <div class="row layout-align-center-center">
            <div class="col-sm-7 col-md-4 col-md-offset-4">
                <h1 class="text-center login-title"></h1>
                <div class="account-wall">
                    <form class="form-signin">
                        <input type="text" class="form-control" placeholder="{{:: 'a-login.email' | translate }}" ng-model="self.userName" required autofocus>
                        <input type="password" class="form-control" ng-model="self.pass" placeholder="{{:: 'a-login.pass' | translate }}" required>
                        <button class="btn btn-lg btn-primary btn-block" ng-click="self.verifyUser()" type="submit">
                            {{:: 'a-login.signIn' | translate }}
                        </button>
                    </form>
                </div>
                <a class="text-center new-account" ui-sref="root.register">  {{:: 'a-login.createAccount' | translate }} </a>
            </div>
        </div>
    </div>
</div>


