<div class="app-info">

   <div>
       <h1  style="text-align:center">Body Shapes Information & Basics</h1>
   </div>
    <table>
        <tr>
            <td><h3><b>Hourglass</b></h3></td>
            <td><div><img src="assets/img/hourglass.JPG" /></div></td>
            <td>
                <div class="infoDiv">
                    <b>
                        מבנה גוף נשי המאופיין בחלק גוף עליון ותחתון שווים וקו מותן צר ומודגש. העיקרון הוא פשוט – יש להדגיש את המותניים הצרות.
                        יש לחפש בגדים המתאימים לקימורי הגוף ומדגישים את המותן הצרה.
                    </b>
                </div>
            </td>           
        </tr>
        <tr>
            <td><h3><b>Apple</b></h3></td>
            <td><div><img src="assets/img/apple.JPG" /></div></td>
            <td>
                <div class="infoDiv">
                    <b>
                        מראה כללי עגול, במיוחד באזור פלג הגוף העליון. כשהאזור המלא יותר הוא באזור הבטן. כתפיים עגולות, ישבן שטוח, חזה ממוצע עד גדול, רגליים חטובות.
                        ישנן שתי צורות גוף המכונות תפוח האליפסה ויהלום,ההבדל הוא אם אזור הבטן שלך ממוקם נמוך (זה צורת האליפסה ) או גבוה (זה צורת היהלום ) .
                    </b>
                </div>
            </td>
        </tr>
        <tr>
            <td><h3><b>Inverted <br /> Triangle</b></h3></td>
            <td><div><img src="assets/img/inverted triangle.JPG" /></div></td>
            <td>
                <div class="infoDiv">
                    <b>
                        מבנה גוף המאופיין בחלק גוף עליון – כתפיים וחזה רחבים יותר מהחלק התחתון של הגוף – ישבן וירכיים. אין הבדל גדול בין קו המותניים לבין היקף הירכיים, ישבן שטוח.
                        המפתח הוא ליצור איזון בין החלק העליון של  לבין החלק התחתון.
                        הדרך היא על ידי הוספת נפח או משיכת צומת הלב לחלק התחתון של הגוף.
                    </b>
                </div>
            </td>
        </tr>
        <tr>
            <td><h3><b>Triangle</b></h3></td>
            <td><div><img src="assets/img/triangle.JPG" /></div></td>
            <td>
                <div class="infoDiv">
                    <b>
                        מבנה גוף המאופיין בחלק גוף תחתון – ישבן וירכיים רחבים יותר מהחלק העליון של הגוף – החזה, והכתפיים. קו מותניים מודגש.
                        המפתח הוא ליצור איזון בין החלק העליון של הגוף לבין החלק התחתון של הגוף. הדרך היא על ידי הוספת נפח או משיכת צומת הלב לחלק העליון של הגוף על ידי צבע, הדפס, עיטורים ואביזרים שונים.
                    </b>
                </div>
            </td>
        </tr>

    </table>

  
</div>

<style>

    .infoDiv {
        direction:rtl;
        float:right;
    }
</style>
