<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<httpRuntime targetFramework="4.5.2"/>
	</system.web>
  
   <system.web.extensions>
       <scripting>
           <webServices>
               <jsonSerialization maxJsonLength="50000000"/>
           </webServices>
       </scripting>
   </system.web.extensions>
  
  <system.webServer>
    <staticContent>
      <!--<mimeMap fileExtension=".json" mimeType="application/json" />-->
        <mimeMap fileExtension=".shp" mimeType="application/octet-stream" />
        <mimeMap fileExtension=".dbf" mimeType="application/octet-stream" />
        <mimeMap fileExtension=".kml" mimeType="text/xml" />
    </staticContent>
    <!--<staticContent>
      <mimeMap fileExtension=".shp" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".dbf" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".kml" mimeType="text/xml" />
    </staticContent>-->
  </system.webServer>
  <connectionStrings>
    <add name="Avenue_DB" providerName="System.Data.SqlClient" connectionString="Data Source=media.ruppin.ac.il;Initial Catalog=igroup47_test2;Persist Security Info=True;User ID=igroup47;Password=igroup47_02300" />
    <!--<add name="Avenue_DB" providerName="System.Data.SqlClient" 
         connectionString="Server=OREL\SQLEXPRESS;Database=AVENUE-DB1; 
         User Id=aveAdmin; Password=1234;Integrated Security=SSPI;"/>-->
    <!--<add name="Avenue_DB" providerName="System.Data.SqlClient" connectionString="Server=(local);Database=AVENUE-DB;Integrated Security=SSPI;" />-->
  </connectionStrings>
</configuration>
