<div class="app-collection" ng-app="app-collection" ng-controller="appCollectionAddController as vm">

    <div class="row">
        <div class="col-sm-5">
            <div class="col-sm-4 input-group">
                <span class="lbl label label-default">{{:: 'a-collection.pic'  | translate }}</span><br />
                <input type="file" class="file" onchange="angular.element(this).scope().getTheFiles(this.files)" />
            </div>
            <br />
            <div class="col-sm-4 input-group">
                <span class="lbl label label-default">{{:: 'a-collection.catName'  | translate }}</span>
                <input type="text" class="form-control" id="categoryName" ng-model="vm.categoryName">
            </div>
            <br />

            <div class="form-group row">
                <div class="col-xs-10">
                    <input type="button" ng-click="addCategory($event)" value="{{:: 'a-collection.add'  | translate }}" class="btn btn-primary">
                </div>
            </div>
        </div>
    </div>
</div>

